doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title

    //-<!-- build:css(public) #{env}/public/css/admin/theoneAdmin.css -->
    //- bower:css
    link(rel='stylesheet', href='/components/ng-grid/ng-grid.css')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='/components/angular-carousel/dist/angular-carousel.css')
    link(rel='stylesheet', href='/components/google-code-prettify/bin/prettify.min.css')
    //- endbower
    link(rel='stylesheet',href='/css/admin/main.css')
    link(rel='stylesheet',href='/css/admin/bootstrap-admin-theme.css')
    //--<!--endbuild-->

    block js
      //-<!-- build:js -->
      script(src='http://localhost:35729/livereload.js')
      //-<!--endbuild-->

    //-<!-- build:js(public) #{env}/public/tinymce/tinymce.min.js -->
    script(src='/components/tinymce/tinymce.min.js')
    //-<!--endbuild-->
    
    //-<!-- build:js(public) #{env}/public/scripts/admin/base.js -->
    //- bower:js
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/es5-shim/es5-shim.js')
    script(src='/components/angular/angular.js')
    script(src='/components/json3/lib/json3.js')
    script(src='/components/angular-animate/angular-animate.js')
    script(src='/components/angular-aria/angular-aria.js')
    script(src='/components/angular-cookies/angular-cookies.js')
    script(src='/components/angular-messages/angular-messages.js')
    script(src='/components/angular-resource/angular-resource.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/angular-sanitize/angular-sanitize.js')
    script(src='/components/angular-touch/angular-touch.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.js')
    script(src='/components/ng-grid/build/ng-grid.js')
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/components/angular-ui-tinymce/src/tinymce.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/headroom.js/dist/headroom.js')
    script(src='/components/angular-strap/dist/angular-strap.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.js')
    script(src='/components/angular-carousel/dist/angular-carousel.js')
    script(src='/components/google-code-prettify/bin/prettify.min.js')
    //- endbower
    //-<!--endbuild-->


  body(ng-app='theoneApp')
    block content
        //- nav small

        //- nav main
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .row
                    .col-lg-12
                        .navbar-header
                            a.navbar-brand theOne Blog
                        .collapse.navbar-collapse.main-navbar-collapse
                            ul.nav.navbar-nav
                                li.active
                                    a(href="/admin") TheBlog
                                li
                                    a(href="/admin/user")=user.name
                                li
                                    a(href="") link
        //- 中心
        .container
            .row
                block contentleft
                    .col-md-3.bootstrap-admin-col-left
                        ul.nav.navbar-collapse.bootstrap-admin-navbar-side
                            li.active
                                a(href="#/")
                                    i.glyphicon.glyphicon-dashboard
                                    |  仪表盘
                            li
                                a(href="#/cate") 类别
                            li
                                a(href="#/article") 文章列表
                            li
                                a(href='#/article/add') 发布文章
                            li
                                a(href='#/tag') 标签列表
                            li
                                a(href='#/carousel') 首页幻灯片
                block contentright
                    div(ui-view)
    //- footer
    .navbar.navbar-footer
        .container
            .row
                .col-lg-12
                    footer(role='conteninfo')
                        p.left theone博客后台
                        p.right &copy; 2015
    block footerjs
        //- angular 
        //-<!-- build:js(.) #{env}/angular/scripts/admin/adminIndex.js -->
        script(src='/angular/scripts/app.js')
        script(src='/angular/scripts/route/adminRoute.js')
        script(src='/angular/scripts/controllers/admin/adminCtrl.js')
        //-<!--endbuild-->