doctype html
html(lang='zh-CN',ng-app='theOneBlog')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
      title= title
      meta(name='keywords',content= keywords)
      meta(name='description',content= description)
      meta(name='fragment',content= '!')
      //- apple 全屏
      meta(name='apple-touch-fullscreen',content='yes')
      //- apple 去除工具栏
      meta(name='apple-mobile-web-app-capable',content='yes')
      meta(content='telephone=no',name='format-detection')
      meta(content='email=no',name='format-detection')
      meta(name='Author',content='theone')
      //- base(href='/')
      //-<!-- build:css(public) #{env}/public/css/home/theoneBlog.css -->
      link(rel='stylesheet',href='/css/home/bootstrap-theone-blog.css')

      //- bower:css
      link(rel='stylesheet', href='/components/google-code-prettify/bin/prettify.min.css')
      //- endbower
      //- str2flow
      link(rel='stylesheet', href='components/mermaid/dist/mermaid.forest.css')
      //--<!--endbuild-->


      //-<!-- build:js -->
      //- css3 特效
      //- link(rel='stylesheet',href='/components/animate.css/animate.css')
      script(src='http://localhost:35729/livereload.js')
      //-<!--endbuild-->

      //-<!-- build:js(public) #{env}/public/scripts/home/base.js -->
      //- bower:js
      script(src='/components/jquery/dist/jquery.js')
      script(src='/components/es5-shim/es5-shim.js')
      script(src='/components/angular/angular.js')
      script(src='/components/angular-animate/angular-animate.js')
      script(src='/components/angular-aria/angular-aria.js')
      script(src='/components/angular-cookies/angular-cookies.js')
      script(src='/components/angular-messages/angular-messages.js')
      script(src='/components/angular-resource/angular-resource.js')
      script(src='/components/angular-sanitize/angular-sanitize.js')
      script(src='/components/angular-touch/angular-touch.js')
      script(src='/components/angular-ui-router/release/angular-ui-router.js')
      script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
      script(src='/components/angular-strap/dist/angular-strap.js')
      script(src='/components/angular-strap/dist/angular-strap.tpl.js')
      script(src='/components/angular-carousel/dist/angular-carousel.js')
      script(src='/components/google-code-prettify/bin/prettify.min.js')
      script(src='/components/vivus/dist/vivus.js')
      script(src='/components/angular-mermaid/dist/angular-mermaid.js')
      //- endbower
      script(src='/components/mermaid/dist/mermaid.min.js')
      //-<!--endbuild-->

      //- angular
      //-<!-- build:js(.) #{env}/angular/scripts/home/ngTheone.js -->
      script(src='/angular/scripts/home.js')
      //- Directive
      script(src='/angular/scripts/directive/home/compile-html.js')
      script(src='/angular/scripts/directive/home/prettyprint.js')
      script(src='/angular/scripts/directive/home/scroll-animate.js')

      //- filters
      script(src='/angular/scripts/filter/home/cateArticlesWordLimit.js')
      script(src='/angular/scripts/filter/home/indexArticlesWordLimit.js')
      script(src='/angular/scripts/filter/home/keyWordPoint.js')
      script(src='/angular/scripts/filter/home/keyWordWrapEm.js')
      script(src='/angular/scripts/filter/home/cateContain.js')

      //- services
      script(src='/angular/scripts/services/home/service.cates.js')
      script(src='/angular/scripts/services/home/service.carousels.js')
      script(src='/angular/scripts/services/home/service.index.articles.js')
      script(src='/angular/scripts/services/home/service.articles.js')
      script(src='/angular/scripts/services/home/service.article.js')
      script(src='/angular/scripts/services/home/service.search.js')
      script(src='/angular/scripts/services/home/service.headerHelp.js')

      //- route
      script(src='/angular/scripts/route/route.home.js')

      //- ctrl
      script(src='/angular/scripts/controllers/home/controller.article.banner.js')
      script(src='/angular/scripts/controllers/home/controller.article.js')
      script(src='/angular/scripts/controllers/home/controller.articles.js')
      script(src='/angular/scripts/controllers/home/controller.header.js')
      script(src='/angular/scripts/controllers/home/controller.index.affix.js')
      script(src='/angular/scripts/controllers/home/controller.index.articles.js')
      script(src='/angular/scripts/controllers/home/controller.index.carousel.js')
      script(src='/angular/scripts/controllers/home/controller.index.js')
      script(src='/angular/scripts/controllers/home/controller.main.js')
      script(src='/angular/scripts/controllers/home/controller.search.js')
      //-<!--endbuild-->

    body(ui-view)
